
<div class="row">

  <div class="col s12">
    <div class="card horizontal">
      <div class="card-image">
        <img src="<%= userOwner.avatar %>">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <ul>
            <li>first name: <%= userOwner.first_name %></li>
            <li>last name: <%= userOwner.last_name %></li>
            <li>usermane: <%= userOwner.username %></li>
                <%if ((notifications.length!=0 && notifications[0].match) == true || userOwner.id == user.id){%>
            <li>email: <%= userOwner.email %></li>
            <li>phone: <%= userOwner.phone %></li>
    <% } %>
          </ul>
      </div>
    </div>
  </div>
  <div class="horizontal">
    <button class="btn waves-effect waves-light"><a href="/products/new/">Add product</a></button>
    <button class="btn waves-effect waves-light"><a href="/profile/<%= userOwner._id %>/edit/">Edit profile</a></button>
  </div>
  <h2><%= subtitle %></h2>

  <div class="row card-container">
    <% products.forEach( e => { %>
      <div class="card col-4 col-md-3">
        <img class="card-img-top" src="<%= e.avatar %>" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title"><a href="/products/<%= e._id %>"> <%= e.name %></a></h4>
          <p class="card-text">
            <%= e.user_name %>
              <%= e.description %>
          </p>
          <button class="matchBtn" data-product="<%= e._id %>" data-userproduct="<%= e.user_id %>" data-userproductname="<%= e.user_name %>">Match</button>
        </div>
      </div>
      <% }) %>
  </div>
</div>

</div>

  <a href="/products/new/">Add product</a>
  <a href="/profile/<%= userOwner._id %>/edit/">Edit profile</a>

</div>
