
<div class="row">
<div class="col-md-3">
  <div class="card user">
        <img src="<%= userOwner.avatar %>">
        <div class="card-block">
          <p class="card-text">

          </p>
          <ul>
            <li><strong>First Name:</strong><%= userOwner.first_name %></li>
            <li><strong>Last Name:</strong><%= userOwner.last_name %></li>
            <li><strong>User Name:</strong><%= userOwner.username %></li>
          <%if ((notifications.length!=0 && notifications[0].match) == true || userOwner.id == user.id){%>
            <li><strong>Email:</strong><%= userOwner.email%></li>
            <li><strong>Phone:</strong><%= userOwner.phone %></li>
          <% } %>
          </ul>

        </div>
        <div class="horizontal">
          <button class="btn waves-effect waves-light"><a href="/products/new/">Add product</a></button>
          <button class="btn waves-effect waves-light"><a href="/profile/<%= userOwner._id %>/edit/">Edit profile</a></button>
        </div>
      </div>
      </div>





  <div class=" col-md-9 card-container">
    <div class="col-md-2"></div>
    <% products.forEach( e => { %>
      <div class="card col-4 col-md-3">
        <img class="card-img-top" src="<%= e.avatar %>" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title"><a href="/products/<%= e._id %>"> <%= e.name %></a></h4>
          <p class="card-text">
            <%= e.user_name %>
              <%= e.description %>
          </p>
          <button class="matchBtn" data-product="<%= e._id %>" data-userproduct="<%= e.user_id %>" data-userproductname="<%= e.user_name %>">Match</button>
        </div>
      </div>
      <% }) %>
  </div>
</div>

</div>


</div>
