<div>
  <ul>
    <img src="<%= userOwner.avatar %>" alt="" style="height:200px; width:200px">
    <li>first name: <%= userOwner.first_name %></li>
    <li>last name: <%= userOwner.last_name %></li>
    <li>usermane: <%= userOwner.username %></li>
    <li>email: <%= userOwner.email %></li>
    <li>phone: <%= userOwner.phone %></li>

  </ul>
</div>
<div>
  <h2><%= subtitle %></h2>
  <ul>
    <% products.forEach( e => { %>
      <li> <%=e.name%>
        <a href="/products/<%= e._id %>">View Details</a> |
        <a href="/products/<%= e._id %>/edit/">Edit</a> |
        <a href="/products/<%= e._id %>/delete/">Delete</a>
      </li>
    <% }) %>
  </ul>
</div>
<div>

  <% if(user){%>
      <a href="/products/new/">Add product</a>
      <!-- <a href="/products">lista products</a> -->
      <a href="/profile/<%= user._id %>/edit/">Edit profile</a>
  <%}%>
</div>
