<div>
  <ul>
    <img src="<%= userOwner.avatar %>" alt="" style="height:200px; width:200px">
    <li>first name: <%= userOwner.first_name %></li>
    <li>last name: <%= userOwner.last_name %></li>
    <li>usermane: <%= userOwner.username %></li>
    <li>email: <%= userOwner.email %></li>
    <li>phone: <%= userOwner.phone %></li>

  </ul>
  <% if(user){ %>
  <a href="/products">lista products</a>
  <a href="/<%= user._id %>/edit/">Edit profile</a>
  <% }else{ %>
  <a href="/">volver</a>
  <%}%>
</div>
