<div>
  <ul>
    <img src="<%= user.avatar %>" alt="" style="height:100px; width:100px">
    <li>first name: <%= user.first_name %></li>
    <li>last name: <%= user.last_name %></li>
    <li>usermane: <%= user.username %></li>
    <li>email: <%= user.email %></li>
    <li>phone: <%= user.phone %></li>

  </ul>

  <a href="/products">lista products</a>
  <a href="/<%= user._id %>/edit/">Edit profile</a>
</div>
