<h2><%= title %></h2>

<form action="/profile/<%= userOwner._id %>/edit/" method="POST" enctype="multipart/form-data">

  <label for="first_name">First Name</label>
  <input id="first_name" type="text" name="first_name" value="<%= userOwner.first_name %>">
  <br><br>
  <label for="last_name">Last Name</label>
  <input id="last_name" type="text" name="last_name" value="<%= userOwner.last_name %>">
  <br><br>
  <label for="username">Username</label>
  <input id="username" type="text" name="username" value="<%= userOwner.username %>">
  <br><br>
  <label for="email">Email</label>
  <input id="email" type="text" name="email" value="<%= userOwner.email %>">
  <br><br>
  <label for="phone">Phone</label>
  <input id="phone" type="number" name="phone" value="<%= userOwner.phone %>">
  <br><br>
  <label for="avatar">photo</label>
  <input id="avatar" type="file" name="avatar" value="<%= userOwner.avatar %>">


  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <br><br>

  <button>Edit account</button>

  <p class="account-message">
    <a href="/profile/<%= userOwner._id %>">volver</a>
    <a href="/">Home</a>
  </p>
</form>
