<div>
  <h2><%= subtitle %></h2>
  <ul>
    <% products.forEach( e => { %>
      <li>
        <a href="/products/<%= e._id %>">
          <%= e.name %>
        </a> from
        <%= e.user_name %>
          <button class="matchBtn" data-product="<%= e._id %>">Match</button>
      </li>
      <% }) %>
  </ul>
</div>
