<h2><%= product.name %></h2>

<div>
  <img src="<%= product.avatar %>" alt="" style="height:200px; width:200px">
</div>
<div>
  <%= product.description %>
  <a href="/profile/<%= product.user_id %>">User</a>
  <button class="matchBtn" data-product="<%= product._id %>" data-userproduct="<%= product.user_id %>" data-userproduct="<%= product.user_name %>">Match</button>

</div>
<div id="map" style="height:350px; width:100%"></div>
<a href="/">volver</a>

<script type="text/javascript">
   var productLocation = <%- JSON.stringify(product) %>;
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQ-v885dJaXvKNjk-ge5sbkuxWBg_LTD0&libraries=places"></script>
<script type="text/javascript" src="/javascripts/drawmap.js"></script>
