<h2><%= product.name %></h2>

<div>
  <img src="<%= product.avatar %>" alt="" style="height:200px; width:200px">
</div>
<div>
  <%= product.description %>
  <a href="/profile/<%= product.user_id %>">User</a>
  <button class="matchBtn" data-product="<%= product.user_id %>">Match</button>

</div>
